*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
}
/* This is a comment
.hero{
    width: 90%;
    min-height: 80vh;
    background: linear-gradient(#000000);
    color: #fff;
    position: relative;
}*/
.container-1{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.container-2{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}
.clock h2{
    position: absolute;
    margin-bottom: 135px;
}
.container-1::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #e6f41b;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container-1::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #0000ff;
    border-radius: 50%;
    position: absolute;
    right:-50px;
    bottom: -50px;
    z-index: -1;
}
.container-2::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}
.container-2::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #0000ff;
    border-radius: 50%;
    position: absolute;
    right:-50px;
    bottom: -50px;
    z-index: -1;
}
.clock span{
    font-size: 110px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOUERS';
    font-size: 8px;
}
#min::after{
    content: 'MINS';
    font-size: 10px;
}
#sec::after{
    content: 'SEC';
    font-size: 10px;
}

#hrs-us::after{
    content: 'HOUERS';
    font-size: 10px;
}
#min-us::after{
    content: 'MINS';
    font-size: 10px;
}
#sec-us::after{
    content: 'SEC';
    font-size: 10px;
}
@media (max-width: 768px){
    .container-1{
    width: 310px;
    height: 130px;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%,-50%);
    }
    .container-2{
    width: 310px;
    height: 130px;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%,-50%);
    }
    .clock{
    width: 90%;
    height: 90%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    }
    .container-1::before{
    content: '';
    width: 95px;
    height: 95px;
    background: #e6f41b;
    border-radius: 5px;
    position: absolute;
    left: -30px;
    top: -25px;
    z-index: -1;
    }
    .container-1::after{
    content: '';
    width: 95px;
    height: 95px;
    background: #0000ff;
    border-radius: 50%;
    position: absolute;
    right:0px;
    bottom: -10px;
    z-index: -1;
    }
    .container-2::before{
    content: '';
    width: 95px;
    height: 95px;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: -30px;
    top: -25px; 
    z-index: -1;
    }
    .container-2::after{
    content: '';
    width: 95px;
    height: 95px;
    background: #0000ff;
    border-radius: 50%;
    position: absolute;
    right:0px;
    bottom: -10px;
    z-index: -1;
    }
    .clock span{
    font-size: 40px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    }
    .clock h2{
    position: absolute;
    margin-bottom: 81px;
    font-size: 18px;
    }
    .clock span::after{
    font-size: 12px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    }
}